@use "../../styles/variables" as v;

.statusList {
	width: calc((1200px - 4rem) / 3);
	min-width: 300px;
	height: fit-content;
	max-height: calc(100vh - v.$footer-height - v.$header-height - 18rem);
	padding: 1rem;
	border-radius: v.$border-radius-lg;
	background-color: white;
	display: flex;
	flex-direction: column;

	&__heading {
		margin-bottom: 1rem;
		padding: 0.5rem;
		font-size: v.$heading-font-size;
	}

	&__newCardButton {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		margin-top: 1rem;
		width: 100%;
		border: none;
		cursor: pointer;
		text-align: left;
		border-radius: v.$border-radius-lg;
		padding: 0.5rem;
		color: v.$dark-text-color;
		font-weight: 600;
		font-size: 15px;
		background-color: transparent;

		&:hover {
			background-color: v.$hover-color;
		}
	}
}

.cardContainer {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	flex-grow: 1;
}
