@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.form {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__field {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;

		&__label {
			font-weight: 600;
			font-size: 12px;
		}

		&__textarea {
			@include m.text-field-style;
			font-family: v.$primary-font-family;
			resize: vertical;
		}
	}

	&__dropdowns {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		margin-bottom: 1rem;

		&__field {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			width: 30%;

			&__label {
				font-weight: 600;
				font-size: 12px;
			}

			&__select {
				@include m.dropdown-menu;
			}
		}
	}

	&__btns {
		display: grid;
		grid-template-columns: 1fr 1fr;

		&__left {
			&__archive {
				@include m.default-btn(
					$background-color: v.$danger-btn-bg,
					$hover-bg-color: v.$danger-btn-bg-hover
				);
				color: v.$danger-text-color;
			}
		}

		&__right {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: self-end;
			gap: 1rem;

			&__cancel {
				@include m.default-btn;
			}

			&__submit {
				@include m.default-btn(
					$background-color: v.$submit-btn-bg,
					$hover-bg-color: v.$submit-btn-bg-hover
				);
				color: v.$submit-text-color;
			}
		}
	}
}

.error {
	color: v.$danger-text-color;
}
