@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.form {
	margin-top: 1rem;
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__field {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;

		&__label {
			font-weight: 600;
			font-size: 12px;
		}

		&__textarea {
			@include m.text-field-style;
			font-family: v.$primary-font-family;
			resize: vertical;
		}
	}

	&__dropdowns {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		margin-bottom: 1rem;

		&__field {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			width: 30%;

			&__label {
				font-weight: 600;
				font-size: 12px;
			}

			&__select {
				@include m.dropdown-menu;
			}
		}
	}
}

.error {
	color: v.$danger-text-color;
}