@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.filter {
	background-color: #00000046;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	padding: 1.5rem;
	border-radius: 10px;
	color: v.$light-text-color;

	&__left {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		align-items: center;

		&__categories {
			&__select {
				@include m.dropdown-menu;
			}

			&__checkbox {
				transform: scale(1.5);
			}
		}
	}

	&__manageCategories {
		&__btn {
			@include m.default-btn(
				$background-color: #dedede,
				$hover-bg-color: v.$light-text-color
			);
		}
	}
}
