@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$primary-bg-gradient: linear-gradient(
	to right bottom,
	#0f336d,
	#413b7e,
	#69428b,
	#904794,
	#b64d97
);
$primary-font-family: "Inter", sans-serif;
$primary-font-size: 14px;
$heading-font-size: 16px;
$light-text-color: #fff;
$hover-color: #d8d8d8;
$dark-text-color: #7a7a7a;
$border-radius-lg: 10px;
$border-radius-sm: 5px;
$default-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.351);

// Button colours
$danger-text-color: red;
$danger-btn-bg: #ffc8c8;
$danger-btn-bg-hover: #e8b3b3;

$submit-text-color: white;
$submit-btn-bg: #335b9c;
$submit-btn-bg-hover: #0f336d;
