@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.card {
	display: grid;
	grid-template-columns: 9fr 1fr;
	padding: 0.5rem 0.8rem;
	border-radius: v.$border-radius-lg;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.351);

	&__main {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		&__tags {
			width: fit-content;
			display: flex;
			flex-direction: row;
			gap: 0.5rem;

			&__category {
				@include m.tag-styles;
				background-color: lightgrey;
			}

			&__archived {
				@include m.tag-styles;
				background-color: lightgray;
			}
		}
	}

	&__actionButtons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__edit,
		&__duplicate {
			@include m.icon-styles;
			color: v.$dark-text-color;
		}
	}
}

.blue {
	background-color: rgb(0, 115, 255);
	color: v.$light-text-color;
}

.pink {
	background-color: rgb(214, 32, 211);
	color: v.$light-text-color;
}

.yellow {
	background-color: rgb(235, 216, 52);
	color: v.$dark-text-color;
}

.orange {
	background-color: rgb(235, 125, 52);
	color: v.$light-text-color;
}

.teal {
	background-color: rgb(4, 190, 137);
	color: v.$light-text-color;
}
