@use "../../styles/variables" as v;

.card {
	display: grid;
	grid-template-columns: 9fr 1fr;
	padding: 0.5rem 0.8rem;
	border-radius: 10px;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.351);

	&__main {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		&__tags {
			width: fit-content;
			display: flex;
			flex-direction: row;
			gap: 0.5rem;

			&__category {
				font-size: 12px;
				letter-spacing: 0.02em;
				font-weight: 600;
				padding: 0.1rem 0.5rem;
				border-radius: 50px;
				background-color: lightgrey;
			}

			&__archived {
				font-size: 12px;
				letter-spacing: 0.02em;
				font-weight: 600;
				padding: 0.1rem 0.5rem;
				border-radius: 50px;
				background-color: lightgray;
			}
		}
	}

	&__actionButtons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__edit,
		&__duplicate {
			border-radius: 10px;
			padding: 0.4rem;
			color: v.$dark-text-color;
			cursor: pointer;

			&:hover {
				background-color: v.$hover-color;
			}
		}
	}
}
