@use "../../styles/variables" as v;

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;

	&__content {
		text-align: center;
		color: v.$light-text-color;
	}
}
