@use "../../styles/variables" as v;

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	height: v.$header-height;

	&__content {
		height: 100%;
	}
}
