@use "../../styles/variables" as v;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;

	&__content {
		color: v.$light-text-color;
		text-align: center;

		&__link {
			color: v.$light-text-color;
		}
	}
}
