@use "./styles/variables" as v;

body {
	margin: 0;
	padding: 0;
	background-image: v.$primary-bg-gradient;
	font-family: v.$primary-font-family;
	font-size: v.$primary-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

*:disabled {
	background-color: lightgray;
}
